<header>
        <nav>
            <ul>
                <a class="menu-link" href="/home" tabindex="-1"><div class="menu-logo"><img src="/img/logo.png"></div></a>
                <div id="menu-options">
                    <div class="navSearch">
                        <form action="/products/search" method="post">
                            <input id="searchKeywords" type="text" name="searchKeywords" tabindex = "9" placeholder = "Search product name" value ="{{searchWord}}">
                            <input type="submit" id="go" value="Go">
                        </form>
                    </div>
                    <a class= "menu-link" href="/home" tabindex="-1"><div class="menu-item">Home</div></a>
                    <a class= "menu-link" href="/products" tabindex="-1"><div class="menu-item">Products</div></a>
                    <a class= "menu-link" href="/user/register" tabindex="-1"><div class="menu-item">Register</div></a>
                    <a class= "menu-link" href="/user/login" tabindex="-1"><div class="menu-item">Login</div></a>
                </div>
            </ul>
        </nav>
    </header>