<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a class="menu-link" href="/home" tabindex="-1"><div class="menu-logo"><img src="img/logo.png"></div></a>
                <div id="menu-options">
                    <div class="navSearch">
                        <form type="/" method="get">
                            <input id="searchKeywords" type="text" name="searchKeywords" tabindex = "9">
                            <input type="submit" id="go" value="Go">
                        </form>
                    </div>
                    <a class= "menu-link" href="/home" tabindex="-1"><div class="menu-item">Home</div></a>
                    <a class= "menu-link" href="/products" tabindex="-1"><div class="menu-item">Products</div></a>
                    <a class= "menu-link" href="/register" tabindex="-1"><div class="menu-item">Register</div></a>
                    <a class= "menu-link" href="/login" tabindex="-1"><div class="menu-item">Login</div></a>
                </div>
            </ul>
        </nav>
    </header>

    {{{body}}}
    
    <footer>
            <div class="followUs">Follow us on
                <div class="socialMedia">
                    <a href="">Twitter</a>
                    <a href="">Facebook</a>
                    <a href="">Instagram</a>
                </div>
            </div>
            <div class="myInfo">
                <span>Made By:</span>
                <ul>
                    <li>Name: Kunwarvir Singh Dhillon</li>
                    <li>Email: ksdhillon11@myseneca.ca</li>
                </ul>    
            </div>
    </footer>
</body>
</html>