@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    position: relative;
    min-height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #EAEDED;
}
main{
    margin: 0;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0;
}
header{
    background: #131921;
    min-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
ul{
    color: white;
    display:flex;
    margin:0;
    list-style: none;
}
.menu-logo > img{
    margin-top: 10px;
    height: 40px;
}
#menu-options{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 50px;
}
.navSearch{
    width: 100%;
    flex: 3;
    margin-right: 16px;
}
.navCart{
    font-weight: bold;
    margin-left: 4px;
    padding: 3px;
    border-radius: 50%;
    color: black;
    background-color: #febd69;
}
.navSearch > form{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.menu-itemContainer{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
#searchKeywords{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 2px 0px 0px 2px;
    padding-left: 10px;
}
#go{
    height: 34px;
    width: 40px;
    font-size: 14px;
    font-weight: 700;
    background-color: #febd69;
    border: 1px solid transparent;
    border-radius: 0px 2px 2px 0px;
    box-sizing: border-box;
}
#go:hover, #go:active{
    cursor: pointer;
}
.menu-item{
    flex: 1;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-weight: 500;
    box-sizing: border-box;
}
.menu-item:hover, .menu-item:active{
    font-weight: 600;
}
.menu-link:link, .menu-link:visited{
    color: white;
    text-decoration: none;
}
#body{
    font-family: 'Robot', sans-serif;
    background-color: #EAEDED;
}
#carousel{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#carousel > img{
    width: 100%;
    height: auto;
}
#prodCategoryContainer{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 20px;
    color: white;
}
.productCategory{
    border: 1px solid rgba(0, 0, 0, 0.089);
    align-self: center;
    justify-self: center;
    background: white;
    padding: 20px;
    padding-top: 8px;
}
.productCategory:hover{
    cursor: pointer;
}
.productCategory > h2{
    color: black;
    text-align: center;
    padding-bottom: 4px;
    margin: 0;
    font-size: 24px;
}
.productCategory > img{
    height: 310px;
    width: 303px;
}
.bestSellerContainer{
    padding: 10px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    background-color: white;
    overflow-x:hidden;
}
.bestSellerContainer > h2{
    margin-left: 10px;
}
.bestSellers{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}
.bestSellerImage{
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
}
.bestSellerImage:hover{
    cursor: pointer;
}
.bestSellerImage > img{
    width: 100%;
    height: auto;
}
.bestSellerContainer > h2{
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
footer{
    position: absolute;
    min-height: 10rem;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #232F3E;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-content: space-around;
    overflow-x:hidden;
}
.followUs{
    margin: 18px;
    padding-right: 50px;
}
.socialMedia{
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.socialMedia > a{
    margin: 4px;
}
.myInfo{
    margin: 18px;
    padding-left: 50px
}
.myInfo > span{
    padding-left: 20px;
}
.myInfo > ul{
    color: rgba(255, 255, 255, 0.856);
    margin: 8px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.myInfo > ul > li{
    margin: 6px;
}
/*
CSS for registration page:
*/
#regDiv{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
#formDiv{
    background-color: white;
    margin: 40px;
    display: flex;
    flex-direction: column;
    padding: 14px 18px;
    border: 1px #ddd solid;
    border-radius: 4px;
}
#form{
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
#form > label{
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 2px;
    padding-bottom: 2px;
    line-height: 19px;
}
.formError{
    font-size: 13px;
    color: #c40000;
}
#form > input{
    width: 312px;
    height: 20px;
    line-height: 19px;
    padding: 3px 7px;
    margin-bottom: 10px;
}

#buttonWrapper{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 29px;
    overflow: hidden;
    background-color: #f0c14b;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

#submitButton{
    height: 100%;
    width: 100%;
    background: transparent;
    border: transparent;
}

#formHeading{
    margin: 5px 0px;
    font-size: 28px;
    font-weight: 500;
}

.legalNotice{
    padding: 18px 0px;
    width: 312px;
    font-size: 12px;
    line-height: 1.5;
}
.signIn{
    font-size: 13px;
    line-height: 19px;
    height: 40px;
    zoom: 1;
    margin-bottom: -10px;
}
.signIn > div{
    padding: 5px;
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
}
a:link, a:visited{
    color: #0066C0;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}

/*
CSS for products page:
*/
.prodBody{
    font-family: 'Lato', sans-serif;
    display: flex;
}
.list{
    flex: 1;
    padding: 6px;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}
.listHeading{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 6px;
}
.categoryList{
    padding: 0px;
    margin: 0px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
}
.categoryList > li{
    margin: 0px;
    padding: 0px;
    color: black;
}
.productsContainer{
    background-color: white;
    padding: 20px;
    flex: 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px 20px;
}
.bestSellingproduct{
    height: 30px;
    width: 30px;
    z-index: 100;
}
/*
Card
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background: #ececec;  
    position: relative;
  }
  .c-image {
    width: 200px;
  }
  .c-image > img{
    width: 100%;
    height: auto;
  }
  .c-title{
      font-size:16px;
  }
  .c-cat{
      font-size: 14px;
      color: rgba(0, 0, 0, 0.438)
  }
  .price {
    color: black;
    font-weight: 500;
    font-size: 21px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 4px;
    color: rgb(31, 31, 31);
    background-color: #F5F5F5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 2px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /*
  Product Search:
  */
.searchprodBody{
    font-family: 'Lato', sans-serif;
}
.searchError{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-weight: 550;
    text-align: center;
}
.addToCartDiv > *{
    z-index: 1;
}
  /*
  Style for dashboard page:
  */
#dashboard{
    font-family: 'Lato' , sans-serif;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  

/*
    Style for Inventory Module
*/
#invDashHead{
    width: 100%;
    background-color: white;
    flex-direction: column;
    border: 1px #ddd solid;
    border-radius: 4px;
}
#invDash{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #492901;
    font-weight: bold;
    font-weight: 500;
    color: white;
}
#invDashOptions{
    grid-area: rows;
    display:flex;
    flex-direction: column;
}
.invOption{
    color: black;
}
.invOption > a{
    color: black;
}
.invOption > a:hover{
    color: black;
    font-weight: bold;
}
.invOption > a:active{
    color: black;
    font-weight: bold;
}
.invOption > a:visited{
    color: black;
    text-decoration: none;
}
.invOption > a:link{
    color: black;
    text-decoration: none;
}
#invDash > a:hover, a:active{
    color:white;
    font-weight: bold;
    text-decoration: underline;
}
#invDash > a:visited, a:link{
    color:white;
    text-decoration: none;
}
.invOption{
    flex: 1;
    padding: 8px;
    margin: 2px;
}
.invOption > a{
    width: 100%;
}

.invTable{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
.invTable > thead th{
    border: 1px solid black;
}
.invTable > th, td{
    padding: 8px;
}
.tableIndex{
    padding-left: 2px;
    padding-right: 2px;
}
.invTable > tbody > tr:nth-child(odd){
    background-color: rgb(237, 238, 229);
}
.invTable > tbody > tr:nth-child(even){
    background-color: white;
}
.invSearchContainer{
    padding-top: 5px;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-bottom: 20px;
}
.invSearch{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
}
.invSearch > form > #go {
    background-color: #e7c293;
}
.invSearch > form{
    display: flex;
    flex-direction: row;
}
.invAddDash{
    display: flex;
    flex-direction: column;
}
.invRowLink > a:hover, a:active{
    color: white;
    font-weight: bold;
}
.invRowLink > a:link, a:visited{
    color: white;
    text-decoration: none;
}
.invRowLink{
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #212013;
}
.updatePicImg{
    max-width: 300px;
    height: auto;
}
/*
    CSS for view Product:
*/
.viewProdBody{
    max-width: 100%;
    padding: 20px;
    display: flex;
    font-family: 'Lato', sans-serif;
}
.vProdImage{
    flex: 1;
    padding: 20px;
    padding-top: 0;
}
.vProdImage > img{
    max-width: 100%;
    height: auto;
}
.vProdBody{
    flex: 1;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.vProdForm{
    max-width: 300px;
    margin: 0;
    padding: 0;
}
.vProdForm > label > select{
    margin-top: 10px;
    margin-bottom: 10px;
}
.vProdTitle{
    font-size: 26px;
    font-weight: bold;
}
.vProdPrice{
    font-size: 20px;
}
.vProdPrice > span{
    color: #bb002f;
}
.vProdDesc{
    font-size: 20px;
    margin-bottom: 40px;
}
.vProdInStock{
    font-size: 20px;
    font-weight: 500;
    color: green;
}
.vProdLinkSpan{
    position:absolute; 
  width:100%;
  height:calc(100% - 30px);
  top:0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
  filter: alpha(opacity=0);  
  opacity:0;  
}
.vProdNotInStock{
    font-size: 20px;
    color: red;
}

.error404{
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: rgb(119, 0, 0);
}

.uDashNav{
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #131921;
    margin-bottom: 2px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}
.uDashName{
    height: 28px;
    padding: 2px;
    display: flex;
    align-items: center;
    border-left: 1px solid #131921;
    border-right: 1px solid #131921;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.uLogOut{
    height: 28px;
    padding: 2px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-left: 1px solid #131921;
    border-right: 1px solid #131921;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.uLogOut> a{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.uLogOutLink:hover, .uLogOutLink:active{
    font-weight: bold;
    color: #131921;
}
.uLogOutLink:link, .uLogOutLink:visited{
    font-style: none;
    color: #131921;
}
/*
    Shopping cart module:
*/
.cartPageHeading{
    text-align: center;
    min-height: 30px;
    font-size: 26px;
    padding: 5px;
    font-family: 'Lato';
    font-weight: bold;
    border-bottom: 1px solid rgb(18, 18, 19);
}
.shoppingCartPanel{
    display: flex;
    background-color: white;
    font-family: 'Roboto';
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid rgb(18, 18, 19);
}
.shWrap{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.shProductTitle{
    font-size: 24px;
}
.shProductDesc{
    font-size: 18px;
    color: rgb(92, 92, 92);
}
.shProductPrice{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 18px;
}
.shProductPrice > span{
    color: #bb002f;
}
.shProductImage{
    margin-left: auto;
    max-width: 300px;
}
.shProductImage > img{
    height: 100%;
    width: 100%;
}
.shProductQuantity{
    margin-left: 50px;
    font-size: 18px;
}
.shProductTotal{
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: auto;
    font-size: 18px;
    padding-left: 20px;
}
.shRemoveLink{
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2px;
    margin-left: 5px;
    border: 2px solid grey;
}
.shRemoveLink:hover, .shRemoveLink:active{
    color: rgb(112, 112, 112);
    font-weight: bold;
}
.shRemoveLink:link, .shRemoveLink:visited{
    color: rgb(112, 112, 112);
}
.shProductTotal > span{
    color: green;
}
.shoppingForm{
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}
.shoppingCartError{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    color: rgb(124, 0, 0);
    font-family: 'Lato';
    background-color: white;
}
.shoppingCartLink{
    border: 6px solid #febd69;
    padding: 5px;
    background-color: #ffd49c;
    border-radius: 13px;
    width: 100%;
    font-weight: bold;
}
.shoppingCartLink:active, .shoppingCartLink:hover{
    text-decoration: underline;
    color: #131921;
}
.shoppingCartLink:link, .shoppingCartLink:visited{
    color: #131921;
}
/* 
-----------------------------------------------
Responsive Structure
----------------------------------------------- */
@media (max-width: 1750px) {
    main{
        margin:10px;
    }
}
@media (max-width: 710px) {
    body{
        background-color: rgb(244, 246, 246):
    }
    ul{
    color: white;
    display:flex;
    margin:0;
    list-style: none;
    flex-direction: column;
    padding:0;
    }
    .menu-logo{
        flex:1;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    /* Resize Navbar for smaller screens: */
    .menu-logo > img{
        margin-top: 10px;
        height: 40px;
    }
    #menu-options{
        background-color: #232F3E;
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    /*Change position of search bar*/
    .navSearch{
        width: 100%;
        flex: 1;
        padding: 6px;
    }
    .navSearch > form{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin-left: 5px;
    }
    #searchCategory{
        margin-left: 5px;
    }
    .menu-itemContainer{
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }
    #searchKeywords{
        margin-left: 6px;
    }
    .myInfo{
        display:none;
    }
    .productsContainer{
        background-color: transparent;
        margin-top: 10px;
        padding: 0;
        overflow-x: hidden;
        margin-left: -20px;
    }

    

    #invDashBoard > *{
        font-size: 14;
    }
    /*Inv clerk searchbar*/
    .invSearchContainer{
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .viewProdBody{
        flex-direction: column;
    }
    .vProdBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vProdForm {
        min-width: 300px;
    }

    /* Shopping cart */
    .shoppingCartPanel{
        flex-direction: column;
    }
    .shWrap{
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .shProductTitle{
        font-size: 24px;
    }
    .shProductDesc{
        margin-top: 6px;
        font-size: 18px;
        color: rgb(92, 92, 92);
    }
    .shProductPrice{
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 18px;
    }
    .shProductPrice > span{
        color: #bb002f;
    }
    .shProductImage{
        margin-left: 0;
        width: 100%;
        height: 100%;
        padding-left: 2vw;
    }
    .shProductImage > img{
        height: auto;
        width: 90vw;
    }
    .shProductQuantity{
        align-self: center;
        margin-left: 0;
        font-size: 18px;
    }
    .shProductTotal{
        align-self: center;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
        padding-left: 0;
    }
    .shProductTotal > span{
        color: green;
    }
    .invTable{
        font-size: 14px;
    }
}
